body{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: hsl(30, 54%, 90%);
}
.attribution {
    font-family: "Outfit", sans-serif; 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


.card{
    width: 50%;
    margin-top:5%;
    margin-bottom: 5%;
}

.card img{
    margin-top: 5%;
    height: 350px;
    width: 620px;
    border-radius: 10px;
}
.card-title{
    text-align: left;
    color: hsl(24, 5%, 18%);
}

p, .prep-summary, li, .table{
    font-family: "Outfit", sans-serif;
    text-align: left;
    padding-bottom: 10px;
}

.prep-summary{
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
}

.prep-title{
    color: hsl(332, 51%, 32%);
    font-size: 1.5rem;
}

.list-group li{
    margin-left: 5%;
}

h2{
    color: hsl(14, 45%, 36%);
    font-size: 1.8rem;
    padding-bottom: 20px;
    padding-top: 15px;
}
hr{
    margin-top:5%;
}

.table td{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.table th{
    font-weight: 400;
    padding-left: 30px;
}
li{
    color:  hsl(332, 51%, 32%);
}

li span{
    color: #000000;
    padding-left: 5px;

}

.card-text,
.list-group span,
.ingredients-list span,
.instructions-body span,
.nutritions p,
.table th{
    color: hsl(30, 10%, 34%);
}
@media (max-width: 1320px){
    .card{
        width: 55%;
     }
     .card img{
        width: 95%;
        height: 300px;
        margin-top: 5%;
    }
  
}
@media (min-width: 768px) and (max-width: 992px){
    .card{
        width: 80%;
     }
     .card img{
        width: 95%;
        height: 350px;
        margin-top: 5%;
    }
}

@media (min-width: 491px) and (max-width:767px){
    body{
        background-color: hsl(30, 54%, 90%);
    }

    .card{
       border-style: none;
       width: 90%;
    }

    .card img{
        width: 95%;
        height: 350px;
        margin-top: 5%;
    }

}

@media(max-width: 490px) {
    body{
        background-color: hsl(0, 0%, 100%);
    }
    .card{
        border-style: none;
        width: 100%;
     }
     .card img{
        width: 520px;
        height: 200px;
        border-radius: 0%;
        margin-top: -6%;
        margin-left: -8%;
    }
}